<!DOCTYPE html>
<html>
<head>
  <title>Test Image</title>
</head>
<body>
  <h1>Test Image Serving</h1>
  <%= image_tag 'phone_backups/Pictures/LaTeepa/PXL_20221226_152207989.jpg', alt: 'Example Image' %>
</body>
</html>
